.gallery {

}

.gallery table {
	padding: 2px;
	/*border-collapse:collapse; 
	table-layout:fixed; 
	width:260px;
	*/
}

.gallery table td {
	padding-left: 2px;
	padding-right: 2px;
	border:solid 1px black; 
	/*width:100px;*/
	word-wrap:break-word;
}

.gallery img {
	height: 240px;
	width: 230px;
	margin: 2%;
	border: 1px solid black;
}

.mam {
	margin: 3% !important;
}

.image-carousel {
	margin-left: 20%;
	margin-right: 20%; 
}

.imageContainer {
	border: 2px solid black;
	width: 300px;
	height: 450px;
	border-radius: 30px;
}

.imageContainerHeightWihoutMetaData {
	height: 255px !important;
}

.greenBoxShadow { 
	box-shadow: 5px 5px 40px green;
}

.carouselClose {
	margin-left: 10px;
	margin-bottom: 50px;
}

.carouselCloseX {
	font-size: 350%;
	border: 1px solid;
	text-align: center;
	width: 4%;
    border-radius: 30px;
    box-shadow: 5px 5px 40px black;
}